.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../pic/cover.jpg');
  background-position: center center; 
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  height: 100%;
}

.introduction img{
	width: 100%;
}